if SHIELD_NITSUD

config ZMK_KEYBOARD_NAME
    default "nitsud"

config ZMK_RGB_UNDERGLOW
    default y
    select WS2812_STRIP         

config ZMK_RGB_UNDERGLOW_ON_START
    default y

endif # SHIELD_NITSUD